
@charset "utf-8";

body {
  font-family: roboto, sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden
}

html {
  overflow-x: hidden
}

p {
  font-size: 14px;
  line-height: 26px
}

a:hover, a:focus {
  color: #4676fa
}

a {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

h1, h2, h3, h4 {
  font-family: raleway, sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px
}

ul {
  margin: 0;
  padding: 0
}

ul li {
  list-style: none
}

a:hover, a:focus {
  text-decoration: none;
  outline: none
}

a:not([href]):not([tabindex]) {
  color: #fff
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #4676fa
}

section {
  padding: 60px 0;
}

.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center
}

.section-header .section-title {
  font-size: 30px;
  margin-top: 4rem;
  color: #333;
  position: relative
}

.section-header .section-title span:last-of-type {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #0a2b84
}

.section-header .section-title span {
  font-size: 16px;
  color: #0a2b84;
  font-weight: 900;
}

.section-header .section-subtitle {
  margin-top: 30px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.section-header .lines {
  margin: auto;
  width: 626px;
  position: relative;
  border-top: 2px solid #0a2b84;
  margin-top: 0px;
}

.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 14px;
  width: 10px;
  top: -12px;
  border: 4px solid #fdfaf0;
  background: #ffca07;
  left: 304px;
}

#nagoya .section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 14px;
  width: 10px;
  top: -12px;
  border: 4px solid #fff;
  background: #ffca07;
  left: 304px;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  display: inline-block;
  font-family: lato, sans-serif
}

.btn:focus, .btn:active {
  box-shadow: none;
  outline: none;
  color: #fff
}

.btn-common {
  border: 2px solid #0a2b84;
  background-color: #0a2b84;
  position: relative;
  z-index: 1;
  border-radius: 4px
}

.btn-common:hover {
  color: #4676fa;
  background-color: transparent;
  border: 2px solid #4676fa;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out
}

.btn-lg {
  padding: 14px 33px;
  width: 100%;
  font-size: 16px
}

button:focus {
  outline: none!important
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px
}

.back-to-top i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #0a2b84;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

#main-visual {
    background: url(../image/children-1822471.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: 0px -120px;
    color: #fff;
    position: relative;
    height: 890px;
}

@media (min-width: 768px) {
#main-visual {
  background: url(../image/children-1822471.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: 0px -10px;
  height: 890px;
  }
}

#main-visual .contents {
  padding: 160px 0 0;
}

@media (min-width: 768px) {
  #main-visual .contents {
    padding: 100px 0 0;
  }
}


@media (min-width: 992px) {
  #main-visual .contents {
    padding: 100px 0 0;
  }
}

@media (min-width: 1200px) {
  #main-visual .contents {
    padding: 160px 0 0;
  }
}


#main-visual .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 25px;
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
  text-shadow: 1px 1px 2px rgb(47, 47, 47); 
}

@media (min-width: 768px) {
  #main-visual .contents h1 {
    font-size: 75px;
}
}


.navbar-area .navbar-nav {
  padding: 10px 0;
  border: none;
  margin: 0;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  transition: .6s;
  padding: 0
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #333;
  font-size: 15px;
  padding: 15px 20px;
  position: relative
}

.navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link:hover:before {
  color: #4676fa
}

.navbar-expand-lg .navbar-nav .active>.nav-link {
  color: #4676fa
}

.navbar-expand-lg .navbar-toggler {
  border-radius: 0;
  margin: 5px;
  cursor: pointer;
  float: right
}

.navbar-expand-lg .navbar-toggler:active {
  color: #4676fa
}

.navbar-toggler {
  padding: 0
}

.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #4676fa;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: .3s
}

.contents .head-title {
  text-transform: uppercase;
  font-weight: 900!important
}

.retention-rate-img {
  padding: 130px 0 0;
  width: 50%;
}

@media (min-width: 768px) {
  .retention-rate-img {
    padding: 100px 0 0;
    width: 80%;
  }
}

.retention-rate-img img {
  display: block;
  height: auto;
  max-width: 100%
}

@media (min-width: 992px) {
  .retention-rate-img {
    padding: 100px 0 0;
    width: 50%;
  }
}

.item-boxes {
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}

.item-boxes .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #0a2b84;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.item-boxes .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #0a2b84
}

.item-boxes h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px
}

.item-boxes:hover {
  background: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, .15)
}

#service,
#recuruit {
  position: relative;
  background: #fdfaf0
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0a2b84;
  opacity: .8;
  filter: alpha(opacity=80)
}

.single-team:hover .team-details {
  opacity: 1
}

.single-team:hover .team-inner {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.single-team {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
  border-radius: 0;
  overflow: hidden
}

.single-team:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)
}

.single-team img {
  width: 348px;
  height: 250px;
  object-fit: cover; 
}

.single-team .team-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: .5s;
  transition: .5s
}

.single-team .team-details {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  opacity: 0
}

.single-team .team-details .team-title {
  margin: 20px 0 5px;
  font-size: 20px;
  font-weight: 700;
  color: #fff
}

.single-team .team-details p {
  color: #fff;
  padding: 0 20px;
}

.btn:disabled {
  opacity: 1
}

footer {
  background: #333;
  padding: 60px 0 30px;
  text-align: center
}

.site-info p {
  line-height: 34px;
  color: #fff
}

.site-info p a {
  color: #fff
}

.site-info p a:hover {
  color: #4676fa
}

/* ここから追加20200729 */

body {
    font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.content-space-one{
	padding: 0px;
	margin-bottom: 0px;
	color: inherit;
	background: url(../image/children-1822471.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 120px;
	color:#fff;
}

#service .content-space-one{
	margin-bottom: 0px;
	color: inherit;
	background: url(../image/hand-2722107.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 120px;
	color:#fff;
}

@media (min-width: 768px) {
  #service .content-space-one{
    padding-top: 70px;
  }
}

@media (min-width: 992px) {
  #service .content-space-one{
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

#nagoya .content-space-one{
	margin-bottom: 0px;
	color: inherit;
	background: url(../image/offices-1181385_1280.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 200px;
	color:#fff;
}

@media (min-width: 768px) {
  #nagoya .content-space-one{
    padding-bottom: 190px;
  }
}

@media (min-width: 992px) {
  #nagoya .content-space-one{
    padding-bottom: 130px;
  }
}

#recuruit .content-space-one{
	margin-bottom: 0px;
	color: inherit;
	background: url(../image/hands-3348987.jpg) no-repeat center center fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 200px;
	color:#fff;
}

@media (min-width: 768px) {
  #recuruit .content-space-one{
    padding-bottom: 210px;
  }
}


@media (min-width: 992px) {
  #recuruit .content-space-one{
    padding-bottom: 210px;
  }
}

/* 5 Columns */

.col-sm-15,
.col-md-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

.bg-orange {
  background-color: rgb(255, 202, 7) !important;
  box-shadow: 0px 1px 4px rgb(94, 93, 93);
}

@media (min-width: 544px) {
  .bg-orange {
    background-color: rgb(255, 202, 7) !important;
    box-shadow: 0px 1px 4px rgb(94, 93, 93);
  }
}

#main-visual p {
  margin: 30px 0 0 0;
  font-family: "Yu Gothic";
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  text-shadow: rgb(47, 47, 47) 2px 0 6px;
  position: absolute;
  right: -400px;
}


@media (min-width: 768px) {
  #main-visual p {
  margin: 65px 0 0 0;
  right: -310px;
  }
}

@media (min-width: 992px) {
  #main-visual p {
    margin: 52px 0 0 0;
    right: -384px;
  }
}

@media (min-width: 1200px) {
  #main-visual p {
    margin: 70px 0 0 0;
    right: -456px;
  }
}

.position-r {
  position: relative !important;
}

#service h2,
#nagoya h2,
#recuruit h2 {
  font-weight: 900;
  text-shadow: rgb(47, 47, 47) 2px 0 6px;
 position: absolute;
 top: 20px;
 left: 20px;
}

#service p:nth-child(1),
#nagoya p:nth-child(1),
#recuruit p:nth-child(1) {
  margin: 0;
  font-family: "Yu Gothic";
  font-weight: 700;
  font-size: 16px;
  text-shadow: rgb(47, 47, 47) 2px 0 6px;
  position: absolute;
}

#recuruit .s-f-inner p {
  margin: 0;
  font-family: "Yu Gothic";
  font-weight: 700;
  font-size: 16px;
  position: absolute;
  line-height: 1.2;
  text-shadow: none;
}

.lnr-logo:before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 43px;
  background-image: url(../image/logo.svg);
  background-size: contain;
  vertical-align: middle;
}

h2 span {
  font-size: 18px;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

footer, header, nav, section {
  display: block
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline-width: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

img {
  border-style: none
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button {
  font: inherit
}

button {
  overflow: visible
}

button {
  margin: 0
}

button {
  text-transform: none
}

[type=button], button {
  cursor: pointer
}

button, html [type=button] {
  -webkit-appearance: button
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

button:-moz-focusring {
  outline: 1px dotted ButtonText
}

@media print {
  *, ::after, ::before, ::first-letter, ::first-line {
    text-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
  }
  a, a:visited {
    text-decoration: underline
  }
  img {
    page-break-inside: avoid
  }
  h2, h3, p {
    orphans: 3;
    widows: 3
  }
  h2, h3 {
    page-break-after: avoid
  }
  .navbar {
    display: none
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

@-ms-viewport {
  width: device-width
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem
}

a {
  color: #0275d8;
  text-decoration: none
}

a:focus, a:hover {
  color: #014c8c;
  text-decoration: underline
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

img {
  vertical-align: middle
}

[role=button] {
  cursor: pointer
}

[role=button], a, button {
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

button {
  margin: 0;
  line-height: inherit;
  border-radius: 0
}

h1, h2, h3, h4 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.75rem
}

h4 {
  font-size: 1.5rem
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.carousel-inner>.carousel-item>img {
  display: block;
  max-width: 100%;
  height: auto
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px
}

.container::after {
  content: "";
  display: table;
  clear: both
}

@media (min-width:544px) {
  .container {
    max-width: 576px
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container {
    max-width: 940px
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.row::after {
  content: "";
  display: table;
  clear: both
}

.col-lg-12, .col-lg-3, .col-md-12, .col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-sm-6, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-xs-12 {
  float: left;
  width: 100%
}

@media (min-width:544px) {
  .col-sm-6 {
    float: left;
    width: 50%
  }
}

@media (min-width:768px) {
  .col-md-3 {
    float: left;
    width: 25%
  }
  .col-md-4 {
    float: left;
    width: 33.333333%
  }
  .col-md-6 {
    float: left;
    width: 50%
  }
  .col-md-8 {
    float: left;
    width: 66.666667%
  }
  .col-md-12 {
    float: left;
    width: 100%
  }
}

@media (min-width:992px) {
  .col-lg-3 {
    float: left;
    width: 25%
  }
  .col-lg-12 {
    float: left;
    width: 100%
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem
}

.btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:focus, .btn:hover {
  text-decoration: none
}

.btn:active {
  background-image: none;
  outline: 0
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .65
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b
}

.btn-primary:focus {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b
}

.btn-primary:active {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
  background-image: none
}

.btn-primary:active:focus, .btn-primary:active:hover {
  color: #fff;
  background-color: #014682;
  border-color: #01315a
}

.btn-primary:disabled:focus {
  background-color: #0275d8;
  border-color: #0275d8
}

.btn-primary:disabled:hover {
  background-color: #0275d8;
  border-color: #0275d8
}


.btn-lg {
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: .3rem
}

@media screen and (max-width: 767px) {
  .btn-lg {
    padding: .75rem;
    font-size: 1.25rem;
    border-radius: .3rem
}
  }

.collapse {
  display: none
}

.nav-link {
  display: inline-block
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none
}

.navbar {
  position: relative;
  padding: .5rem 1rem
}

.navbar::after {
  content: "";
  display: table;
  clear: both
}

@media (min-width:544px) {
  .navbar {
    border-radius: .25rem
  }
}

.navbar-brand {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none
}

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none
}

.navbar-nav .nav-item {
  float: left
}

.navbar-nav .nav-link {
  display: block;
  padding-top: .425rem;
  padding-bottom: .425rem
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 1rem
}

.carousel {
  position: relative
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden
}

.carousel-inner>.carousel-item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left
}

.carousel-inner>.carousel-item>img {
  line-height: 1
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner>.carousel-item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out, -o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
  }
  .carousel-inner>.carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.carousel-inner>.active {
  display: block
}

.carousel-inner>.active {
  left: 0
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

@media (min-width:544px) {
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px
  }
  .carousel-indicators {
    bottom: 20px
  }
}

.d-block {
  display: block!important
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.w-100 {
  width: 100%!important
}

.mt-7 {
  margin-top: 4rem!important
}

.mb-7 {
  margin-bottom: 4rem!important
}

/* video */


.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.view img {
  position: relative;
  display: block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.view .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.rgba-black-light, .rgba-black-light:after {
  background-color: rgba(0,0,0,0.3);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  text-decoration: none;
  text-align: center;
}

.btn-floating.btn-lg {
  width: 61.1px;
  height: 61.1px;
}

.mask .btn-lg {
  padding: .5rem;
  font-size: 2rem;
}

.tb {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

section.bg-primary {
  padding: 0;
}

.tb-p {
  margin: 0;
  font-family: "Yu Gothic";
  font-weight: 700;
  font-size: 20px;
}

.btn-tb {
  color: #fff;
  background-color: #0a2b84;
  border-color: #0a2b84
}

.btn-tb:hover {
  color: #fff;
  background-color: #1e4fd4;
  border-color: #0a2b84
}

.btn-tb:focus {
  color: #fff;
  background-color: #1e4fd4;
  border-color: #0a2b84
}

.btn-tb:active {
  color: #fff;
  background-color: #1e4fd4;
  border-color: #0a2b84;
  background-image: none
}

.btn-tb:active:focus, .btn-tb:active:hover {
  color: #fff;
  background-color: #1e4fd4;
  border-color: #0a2b84
}

.btn-tb:disabled:focus {
  background-color: #1e4fd4;
  border-color: #0a2b84
}

.btn-tb:disabled:hover {
  background-color: #1e4fd4;
  border-color: #0a2b84
}

.rgba-blue-light:after {
  background-color: rgba(144, 98, 252, 0.3);
}

/* Selection flow */
.s-f:hover .s-f-details {
  opacity: 1
}

.s-f:hover .s-f-inner {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.s-f {
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
  border-radius: 0;
  overflow: hidden
}

.s-f:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)
}

.s-f img {
  width: 100%
}

.s-f .s-f-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: .5s;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-f .s-f-details {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  opacity: 0
}

.s-f .s-f-details p {
  color: #000;
  padding: 0 10px;
}

.s-f-details .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffca07;
  opacity: .8;
  filter: alpha(opacity=80);
}

@media screen and (min-width: 768px){
  .br-sm {display: none; }
  }

@media screen and (min-width: 992px){
  .br-md {display: none; }
  }

.lp-blue {
  background-color: #0a2b84 !important;
}